header {
  display: flex;
  flex-direction: column;
}

.header__toggle {
  display: none;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &--top {
    padding-top: 27px;
    padding-bottom: 32px;
  }
}

.header__logo {
  display: flex;
}

.header__logo-name {
  font-family: $oswald-font-family;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: $darker-red;
}

.header__logo-text {
  align-self: flex-end;
  margin-left: 8px;
  font-family: $pt-font-family;
  font-size: 18px;
  line-height: 23.29px;
  font-style: italic;
  text-transform: lowercase;
  color: $basic-grey;
}

.header__interaction-list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  padding-top: 4px
}

.header__interaction-link {
  @include transition;
  display: block;
  font-family: $pt-font-family;
  font-size: 13px;
  line-height: 16.82px;
  font-style: italic;
  text-transform: uppercase;

  &:active {
    opacity: 0.6;
  }

  &--login {
    padding: 15px 33px;
    color: $basic-dark;
    background-color: transparent;

    &:focus,
    &:hover {
      color: $lighter-red;
    }
  }

  &--contact {
    width: 191px;
    height: 46px;
    padding: 15px 20px;
    color: $basic-white;
    background-color: $lighter-red;
    text-align: center;

    &:focus,
    &:hover {
      color: $basic-dark;
      box-shadow: 0 0 0 2px $lighter-red;
      background-color: $basic-white;
    }
  }
}

.header__interaction-link--login svg {
  margin-right: 10px;
}

.header__wrapper {
  width: 100%;
  background-color: $basic-dark;
}

.header__nav-list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
}

.header__nav-item {
  display: block;
}

.header__nav-link {
  @include transition;
  display: block;
  padding: 21px 16px 24px;
  font-family: $oswald-font-family;
  font-size: 19px;
  line-height: 26.68px;
  color: $basic-white;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.9px;

  &--portfolio {
    padding-left: 21px;
  }

  &--blog {
    padding-left: 21px;
  }

  &:not(.header__nav-link--active):focus ,
  &:not(.header__nav-link--active):hover {
    color: $lighter-red;
  }

  &:not(.header__nav-link--active):active {
    color: $basic-white;
    background-color: $lighter-red;
  }

  &--active {
    background-color: $lighter-red;
  }
}

.header__wrapper form {
  width: 23.8%;
  min-width: 191px;
}

.header__nav-search {
  display: flex;
  position: relative;
  max-width: 269px;
  width: 100%;
  margin: 15px 0;
  background-color: $basic-white;
}

.header__nav-submit {
  @include transition;
  position: relative;
  right: 0px;
  width: 48px;
  border: none;
  background: $basic-white;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $basic-grey;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__nav-search svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
}

.header__nav-search input {
  width: 100%;
  height: 40px;
  padding: 12px 35px 12px 12px;
  border: none;
  font-family: $oswald-font-family;
  font-size: 14px;
  line-height: 20.75px;
  color: $basic-dark;
  background-color: $basic-white;
  text-transform: uppercase;
  outline: none;
}

@media (max-width: $tablet-breakpoint) {
  .header__logo {
    flex-direction: column;
  }

  .header__logo-text {
    margin: 5px 0 0 ;
  }

  .header__interaction-link {
    width: auto;
    padding: 15px 30px;
  }

  .header__inner {
    &--nav {
      flex-direction: column;
      padding-top: 20px;
    }
  }

  .header__nav-list {
    justify-content: space-between;
    order: 2;
  }

  .header__nav-item {
    width: 19%
  }

  .header__wrapper form {
    width: 100%;
  }

  .header__nav-search {
    max-width: 100%;
  }
}

@media (max-width: $mobile-breakpoint) {
  .header {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $basic-grey;
    }
  }

  .header__inner--top {
    position: relative;
  }

  .header__toggle {
    display: block;
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  
  .header--closed .header__toggle {
    height: 35px;

    &::before {
      @include transition;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 4px;
      background-color: $basic-grey;
      box-shadow: 0 15px 0 0 $basic-grey, 0 30px 0 0 $basic-grey;
    }
  
    &:hover::before,
    &:focus::before {
      background-color: $darker-red;
      box-shadow: 0 15px 0 0 $darker-red, 0 30px 0 0 $darker-red;
    }
  
    &:active::before {
      opacity: 0.5;
    }
  }
  
  .header--opened .header__toggle {
    &::before,
    &::after {
      @include transition;
      content: "";
      position: absolute;
      top: 25px;
      right: 0;
      transform: rotate(45deg);
      width: 50px;
      height: 4px;
      background-color: $basic-grey;
      box-shadow: none;
    }
  
    &::after {
      transform: rotate(-45deg);
    }
  
    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
      background-color: $darker-red;
    }
  
    &:active::before,
    &:active::after {
      opacity: 0.5;
    }
  }

  .header--nojs .header__toggle {
    display: none;
  }

  .header--closed .header__interaction-list,
  .header--closed .header__wrapper {
    display: none;
  }

  .header--nojs .header__interaction-list,
  .header--nojs .header__wrapper {
    display: block;
  }

  .header__inner--nav,
  .header__nav-list {
    flex-direction: column;
  }

  .header__interaction-item,
  .header__nav-item {
    width: 100%
  }

  .header__interaction-link,
  .header__nav-link {
    width: 100%;
    text-align: right;
  }

  .header__interaction-link {
    &:focus,
    &:hover {
      color: $lighter-red;
      box-shadow: none;
      background-color: transparent;
    }

    &:active {
      color: $basic-white;
      background-color: $lighter-red;
      opacity: 1;
    }
  }

  .header__interaction-link {
    color: $basic-white;
    background-color: transparent;
  }

  .header--nojs .header__interaction-link {
    padding: 5px 0 10px;
    color: $basic-dark;

    &--login {
      margin-bottom: 5px;
    }

    &:focus,
    &:hover {
      color: $lighter-red;
      box-shadow: none;
      background-color: transparent;
    }

    &:active {
      color: $lighter-red;
      background-color: transparent;
      opacity: 0.5;
    }
  }

  .header__interaction-link--login svg {
    display: none;
  }
}