.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding-bottom: 202px;
}

.main__go-up {
  display: flex;
  position: absolute;
  bottom: 49px;
  right: 26px;
  font-family: $oswald-font-family;
  font-weight: 300;
  font-size: 14px;
  color: gray;
  text-transform: lowercase;
}

.main__go-up svg {
  margin-right: 7px;
  align-self: center;
}