.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding-bottom: 180px;
}

.main__go-up {
  position: absolute;
  bottom: 28px;
  right: 26px;
  font-family: $oswald-font-family;
  font-weight: 300;
  font-size: 14px;
  color: gray;
  text-transform: lowercase;
}