.recent-news {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recent-news__title {
    margin-bottom: 17px;
    font-family: $oswald-font-family;
    font-size: 14px;
    line-height: 27px;
    color: $darker-red;
    text-transform: uppercase;
}

.recent-news__list {
    @include list-style;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.recent-news__link {
    @include transition;
    display: block;

    &:active {
        opacity: 0.5;
    }

    &:focus img,
    &:hover img {
        opacity: 0.8;
    }

    &:focus .recent-news__description,
    &:hover .recent-news__description {
        color: $darker-red;
    }
}

.recent-news__item img {
    margin-bottom: 7px;
}

.recent-news__description {
    font-family: $oswald-font-family;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: $basic-dark;
}
